snippet algo
    #include <bits/stdc++.h>
    using namespace std;
    typedef long long ll;
    #if DEBUG
    #define LOG(...) printf(__VA_ARGS__)
    #define DOUT cout
    #else
    #define LOG(...)
    #define DOUT if(0) cout
    #endif

    int main() {
        ios_base::sync_with_stdio(false);

    }
